name: Show JWT Secret

on:
  workflow_dispatch:

jobs:
  show-jwt-secret:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Display JWT secret
        run: echo "The JWT secret is: ${{ secrets.BROKER_JWT }}"

      - name: Debug JWT secret
        run: echo "JWT secret in debug mode: ${{ env.JWT_SECRET }}"
        env:
          JWT_SECRET: ${{ secrets.JWT }}
