name: Show JWT Secret

on:
  workflow_dispatch:

jobs:
  show-jwt-secret:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Get JWT secret
        id: jwt
        run:  echo "jwt_secret=${{ secrets.BROKER_JWT }}" >> $GITHUB_OUTPUT

      - name: Show JWT in plain text
        run: |
          echo "secrets in plain text is: ${SECRET}"
        env:
          SECRET: ${{ steps.jwt.outputs.jwt_secret}}
