name: Show JWT Secret

on:
  workflow_dispatch:

jobs:
  show-jwt-secret:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Show JWT in plain text
        run: |
          echo "secrets in plain text is:"
          echo ${{secrets.BROKER_JWT_33098695_4A5A_497C_A36A_61691785845C}} | sed 's/./& /g'
