name: Update Secrets
on:
  workflow_dispatch:

jobs:
  main-update-process:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up jq
        run: sudo apt-get install -y jq

      - name: Call reusable workflow to fetch and update secret
        uses: ./.github/workflows/update-secret-call.yml
        with:
          project_name: oneteam-example
          service_name: java-maven-pipeline-example
          service_url: https://github.com/bcgov/java-maven-pipeline-example
          client_id: eeec21c0-45ad-4556-89e9-4c81bb293ce7