name: Update Secrets
on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  call-update-secret-workflow:
    uses: ./.github/workflows/update-secret-call.yml
    with:
      project_name: oneteam-example
      service_name: java-maven-pipeline-example
      service_url: https://github.com/bcgov/java-maven-pipeline-example
      client_id: eeec21c0-45ad-4556-89e9-4c81bb293ce7
    secrets: inherit