name: Fetch and Update Secret

on:
  workflow_call:
    inputs:
      project_name:
        required: true
        type: string
      service_name:
        required: true
        type: string
      service_url:
        required: true
        type: string
      client_id:
        required: true
        type: string

jobs:
  fetch-and-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up jq
        run: sudo apt-get install -y jq

      - name: Build intention
        run: sh ./.github/workflows/build-intention.sh
        env:
          EVENT_PROVIDER: brokerjwt-sync
          EVENT_REASON: Build ${{ github.ref_name }}
          GITHUB_REPOSITORY: ${{ github.repository}}
          GITHUB_RUN_ID: ${{ github.run_id}}
          PROJECT_NAME:  ${{ inputs.project_name }}
          SERVICE_NAME: ${{ inputs.service_name }}

      - name: Open intention
        uses: bcgov-nr/action-broker-intention-open@v2
        with:
          broker_jwt: ${{ secrets.BROKER_JWT }}
          intention_path: intention.json
          quickstart: true

      - name: Set intention ID for sync job
        id: set-intention-id
        run: |
          echo "intention_id=${INTENTION_ID}" >> $GITHUB_OUTPUT
        env:
          INTENTION_ID: ${{ env.INTENTION_ID }}

      # Vault login
      - uses: bcgov-nr/action-broker-vault-login@v2
        with:
          action_token: ${{ env.ACTION_TOKEN_LOGIN }}

      - name: Fetch secret from Vault
        id: fetch_vault_secret
        env:
          VAULT_TOKEN: ${{ env.VAULT_TOKEN }}
          VAULT_URL: https://knox.io.nrs.gov.bc.ca
          PROJECT_NAME: ${{ inputs.project_name }}
          SERVICE_NAME: ${{ inputs.service_name }}
          CLIENT_ID: ${{ inputs.client_id }}
        run: |
          vault_secret_path="apps/data/tools/${PROJECT_NAME}/${SERVICE_NAME}"
          vault_response=$(curl -s -H "X-Vault-Token: $VAULT_TOKEN" -X GET "${VAULT_URL}/v1/${vault_secret_path}")
          secret_value=$(echo $vault_response | jq -r '.data.data["broker-jwt:" + $CLIENT_ID]')
          echo "::add-mask::$secret_value"
          echo "secret_value=$secret_value" >> $GITHUB_OUTPUT

       # Close intention
      - uses: bcgov-nr/action-broker-intention-close@v1
        with:
          intention_token: ${{ env.INTENTION_TOKEN }}

       # Revoke Vault token
      - uses: bcgov-nr/action-broker-vault-revoke@v2
        with:
          vault_token: ${{ env.VAULT_TOKEN }}

